* {
  outline:0;
  box-sizing: border-box;
  max-width: 100%;
}

html, body, #root {
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased !important;
}

/* COMMON */
.comment-width {
  min-height: 100%;
}

.card-footer {
  background-color: #fff !important;
}

.plastik-pink {
  color: #ff1493;
}

.nav-section {
  background-color: #8A2BE2;
}

.first-section{
  background-color: #8A2BE2;
  
}

.second-section {
  background-color: #fff;

}

.third-section {
  background-color: #8A2BE2;
  flex-direction: row;
  overflow: hidden;
}

.last-section {
  background-color: #464646;
  overflow: hidden;
}

.custom-padding {
  margin-left: 20%;
  margin-right: 20%;
}

/* FIRST SECTION */

.range-slider__wrap .range-slider__tooltip .range-slider__tooltip__label {
  background-color: #464646 !important;
  height: 40px !important;
  line-height: 38px !important;
  font-size: 2rem !important;
  top: -40%;
}

.range-slider__wrap .range-slider__tooltip.range-slider__tooltip--top .range-slider__tooltip__arrow::before{
  border-top-color: #464646 !important;
}

.card {
  box-shadow: 0 1px 13px 0 rgba(0,0,0,.2);
  border-radius: 10px !important;
}

.offer-search-btn {
  background-color: #ff1493 !important;
  border-radius: 24px !important;
  padding: 10px !important;
}
/* FIRST SECTION END*/

/* SECOND SECTION */
.offer-button {
  background-color: #ff1493 !important;
  border-radius: 24px !important;
}

.txt-offer {
  font-size: 10px;
  color: #919191 !important;
}

.var-cost {
  font-size: 18px;
  color: #000000;
}

.txt-cost {
  font-size: 13px;
  color: #000000;
}

.rating-number {
  padding: 6px;
  border-radius: 6px;
  background-color: #f0df52;
  color: #fff;
}
/* SECOND SECTION END */

/* THIRD SECTION */

.btn-white-custon {
  background-color: #FFF !important;
  border-radius: 24px !important;
  padding: 10px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  color: #ff1493 !important;
  font-size: 15px !important;
  font: bold !important;
}

.card-size {
  width: 100%;
}

.company-rating {
  
  border: 1px solid #ff1493;
  border-radius: 8px;
  padding: 8px;
}

.company-rtn-nmbr {
  border-radius: 6px;
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 7px;
  height: 46px;
  width: 44px;
  font-size: 22px ;
  position: absolute;
  bottom: 29px;
  left: 20px;
  background-color: #ff1493;
  color: #fff;
}

/* THIRD SECTION END */

/* NAVBAR */
.navbar-brand {
  font-size:  36px !important;
  color :#ff1493 !important;
}

.navbar-nav, a {
  font-size:  16px !important;
  color: #FFF !important;
}

/* NAVBAR END*/


/* FOOTER  */
.footer-side-title {
  color: #fff !important;
}

.footer-side-text {
  font-size: 14px !important;
  opacity: 0.7;
  color: #fff !important;
}

.footer-sub-section {
  border-bottom: 1px solid rgba(255, 250, 250 ,0.2);
}

.footer-advise {
  font-size: 14px !important;
  opacity: 0.7;
  color: #fff !important;
}

.copyright {
  position: relative;
  bottom: -50%;
  left: 2%;
  color: #FFF;
}

.terms {
  position: relative;
  bottom: -35%;
  right:  -32%;
}

.icon-size {
  height: 15.99px;
}
/* FOOTER END*/

/* POLICY */
.policy-title {
  color:#fff
}

.content-policy {
background-color: #fff;
}

.content-policy spam{
  font-size: 26px;
}

.content-policy p {
  font-size: 18px;
  color: #464646;
}

/* POLICY END*/

/* COMPANY */

.company-rating-large {
  border: 1px solid #ff1493;
  border-radius: 8px;
  padding: 8px;
  max-width: 200px;
}

.img-company {
  size: 100rem;
  margin-left: -55px;
}

.border-botton-cpn {
  border-bottom: 1px solid rgba(3, 3, 3, 0.2);
}

.border-botton {
  min-width: 100%;
  border-bottom: 1px solid rgba(3, 3, 3, 0.2);
}

.rating {
  border-radius: 6px;
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 7px;
  height: 46px;
  width: 44px;
  font-size: 22px ;
  position: absolute;
  bottom: 8px;
  left: 14px;
  background-color: #ff1493;
  color: #fff;
}

.fa-user-color {
  color: #ff1493;
}

.comment-position{
  padding-top: 10px;
}

.comment-position p {
  margin-top: -10px;
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  .cmnt-ttl-pst{
    margin-bottom: -50px;
  }
  .comment-position {
    position: relative;
    top: -60px;
    left: 100px;
  }
}

.col-sticky{
  position: -webkit-sticky;
  position: sticky;
  top:3%;
}


/* COMPANY END */